.header-nav {
    border-bottom: 1px dashed #1A566E;
    margin-top: 10px;
    padding-bottom: 18px;
}

.header-nav .logo img {
    width: 50px;
}

.header-nav .logo {
    margin-left: 5%;
}

.logo-text {
    font-family: myFirstFont;
    margin-right: 23%;
    font-size: x-large;
    color: #1A566E;
}

@media only screen and (max-width: 500px) {
    .header-nav .logo img {
        width: 60px;
    }
    .header-nav .logo {}
}

@font-face {
    font-family: fontLogo;
    src: url(/fonts/CrimsonText-Regular.ttf);
}